@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2> Om os</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula ligula, viverra vitae rhoncus vel, sodales vel nisl.
        Cras pharetra feugiat orci, quis posuere lectus suscipit at. Sed aliquam scelerisque auctor. Mauris ut velit non urna faucibus aliquet.
        Nullam porta efficitur nunc vitae vulputate.
        Nam eu nunc enim. Integer malesuada nibh nulla.
        Quisque in enim eu orci fringilla viverra. Pellentesque posuere tellus ac odio rhoncus luctus.
        Morbi vitae orci quis felis aliquam faucibus quis nec elit. Sed vitae neque sed felis molestie suscipit id sit amet sapien.

        Vestibulum viverra sem nec turpis accumsan aliquam. Morbi molestie scelerisque justo sed ornare. Sed sem mi, dictum commodo scelerisque eget, sodales eget elit. Curabitur porttitor lacinia sapien. Mauris ac dapibus odio. Morbi vulputate nulla vel mi ornare euismod ac malesuada risus.
    </p>

    <div class="row">

        <div class="col-lg-6">
            <img src="C:\Users\andr687w\OneDrive - EFIF\H1\Projekt\website6-master\img/Screenshot 2020-09-22 at 10.38.24.png" , alt="Alternate Text" />
        </div>

        <div class="col-lg-6">
            <img src="C:\Users\andr687w\OneDrive - EFIF\H1\Projekt\website6-master\img/Screenshot 2020-09-22 at 10.38.24.png" , alt="Alternate Text" />
        </div>


    </div>

</div>
